body {
    background-color: #303336;
    margin: 0;
    padding: 0;
}

.header {
    background: #303336;
    color: #f3f3f3;
}

.header h1 {
    color: #f3f3f3;
}

.header a {
    color: #dedefa;
}

.content {
    max-width: 1360px;
}

.footer {
    background-color: #303336;
}

.footer .footer-content {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 14px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    height: 300px;
    border: 2px solid #333639;
}

.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: transform 0.3s ease;
}

.gallery-item:hover {
    border-color: #404346;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item:hover .caption {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
}

.caption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    font-size: 12px;
}