/*
CUSTOM CSS FOR NICKLASHANSEN.GITHUB.IO
*/

.nicklashansen-sidebar-picture {
    width: 128px;
    height: 128px;
    margin: 16px auto;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    background-image: url(https://avatars3.githubusercontent.com/u/38315247?s=460&v=4);
    background-position: center;
    background-size: contain
}

.nicklashansen-useful-links {
    text-align: center;
    font-size: 0.75rem;
}

.nicklashansen-useful-link {
    font-size: inherit;
}

.nicklashansen-item {
    width: 100%;
    min-height: 100px;
}

.nicklashansen-item-img {
    width: 140px;
    height: 100px;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-right: 16px;
}

.nicklashansen-item-box {
    float: left;
}

.nicklashansen-item-title {
    display: block;
    color: #313131;
}

.nicklashansen-item-desc {
    font-size: 0.8;
}

.nicklashansen-item-links {
    display: block;
    font-size: 0.6rem;
}

.nicklashansen-item-link {
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    margin-right: 6px;
    margin-top: 6px;
    padding: 2px 4px;
}

.nicklashansen-code {
    background-color: #d94801;
}

.nicklashansen-slides {
    background-color: #4daf4a;
}

.nicklashansen-pdf {
    background-color: #e41a1c;
}