<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="nicklashansen-sidebar-picture"></div>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <hr/>
    </div>
    <div class="nicklashansen-useful-links">
      <a class="nicklashansen-useful-link" href="mailto:hello@nicklashansen.com">Email</a> &bull;
      <a class="nicklashansen-useful-link" href="https://twitter.com/ncklashansen">Twitter</a> &bull;
      <a class="nicklashansen-useful-link" href="https://www.linkedin.com/in/ncklas/">LinkedIn</a> &bull;
      <a class="nicklashansen-useful-link" href="https://github.com/nicklashansen">GitHub</a>
    </div>
  </div>
</div>
