<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        
      </div>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <hr/>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="mailto:hello@nicklashansen.com">Email</a>
      <a class="sidebar-nav-item" href="https://github.com/nicklashansen/me/blob/master/NicklasHansen_Resume.pdf">Resume</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/ncklas/">LinkedIn</a>
      <a class="sidebar-nav-item" href="https://github.com/nicklashansen">GitHub</a>
    </nav>

  </div>
</div>
